<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item [routerLink]="home">
      <ion-img src="../../assets/icon/favicon.svg" alt="SuSaude" srcset=""></ion-img>
      <ion-title>SuSaude</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="menu">
          <div>
            <ion-img src="../../assets/logo.png" alt="SuSaude" srcset=""></ion-img>
          </div>
          <ion-subtitle>
            Aplicativo para você se conectar a
            <span>Saúde</span>
          </ion-subtitle>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>